<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD Nodejs Mysql</title>
  </head>
  <body>
    <h1>Nodejs Mysql</h1>

    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand">CRUD Nodejs Mysql</a>
    </nav>
